In [32]:
import pandas
import numpy

actors = pandas.read_csv('static/actors.csv', index_col=None)
actors
actors.index
actors.columns

actors.index = actors['name']
actors
actors.index
actors = actors.sort_index()
actors

            name  birth  alive
name
Eric        Eric   1943   True
Graham    Graham   1941  False
John        John   1939   True
Michael  Michael   1943   True
Terry      Terry   1942   True
Terry      Terry   1940   True